<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eプロジェクト感想入力サイト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style1.css">
    <link rel="icon" href="static/img/epro_icon1.png" />
  </head>

  <body background="static/img/back1.png">
    <header id="header">　
      <div class="boxA">
        <div class="logo">
            <img src="static/img/epro_logo.png" alt="page_logo" class="logo-size">
        </div>
        <nav>
          <ul class="global-nav">
          </ul>
        </nav>
      </div>
    </header>
    
    <form action="#" method="post">
        <p>
        <label for="play">体験したものをを教えてください</label><br>
        <input type="checkbox" name="play" value="1">パステル
        <input type="checkbox" name="play" value="2">エンドレスふみふみ
        <input type="checkbox" name="play" value="3">Eプロカー<br>
        <input type="checkbox" name="play" value="4">ペンシルサウンド
        <input type="checkbox" name="play" value="5">リンゴ集め
    　</p>
      <p>
        <label for="like">楽しかったものを教えてください</label><br>
        <input type="checkbox" name="like" value="1">パステル
        <input type="checkbox" name="like" value="2">エンドレスふみふみ
        <input type="checkbox" name="like" value="3">Eプロカー<br>
        <input type="checkbox" name="like" value="4">ペンシルサウンド
        <input type="checkbox" name="like" value="5">リンゴ集め
      </p>
      <p>
        <label for="impression">来年以降作ってほしいものがあれば教えてください<br>
        <textarea name="impression" rows="10" cols="60"></textarea>
      </p>
      <p>
        <label for="impression">感想・自由記載欄<br>
        <textarea name="impression" rows="10" cols="60"></textarea>
      </p>
      <input type="submit" value="送信する" class="btn-send" style="margin-left:370px;">
    <form>
  </body>
</html>