<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eプロジェクト感想入力サイト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style1.css">
    <link rel="icon" href="static/img/epro_icon1.png" />
  </head>

  <body background="static/img/back1.png">
    <header id="header">　
      <div class="boxA">
        <div class="logo">
            <img src="static/img/epro_logo.png" alt="page_logo" class="logo-size">
        </div>
        <nav>
          <ul class="global-nav">
          </ul>
        </nav>
      </div>
    </header>
    
    <div class="logo">
        <img src="static/img/thankyou.png" alt="page_logo" class="logo-size">
    </div>
  </body>
</html>